*{
  margin:0;
  padding:0;
}

.transitionUrl-enter{
  opacity:0
}
.transitionUrl-enter-active{
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s;
}
.transitionUrl-leave{
  opacity:1
}
.transitionUrl-leave-active{
  animation:slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity:0;
}

@keyframes slide-in{
  from{
    transform:translateY(20px)
  }
  to{
    transform:translateY(0px)
  }
}

@keyframes slide-out{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(20px);
  }
}
